<div class="container">
  <div class="row">
    
  </div>
</div>

<footer class="footer">
  <div class="container">
    <a class="brand" href="http://mwermuth.com" target="_blank">
      <img src="images/mw-new.png" width="35" height="35" alt="">
    </a>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="text">behind.technology is curated by <a href="http://mwermuth.com" target="_blank">mwermuth.com</a>
          <br/> CTO @ <a href="http://new.wechselwild.com">Wechselwild</a>
          <br/>
          <br/>For updates follow on Twitter</div>
      </div>
    </div>
    <a class="btn btn-small" href="http://twitter.com/mwermuth" target="_blank"><span class="fui-twitter"> </span>@mwermuth</a>
    <br/>
    <br/>
    <br/>
    <p>© 2014 MWermuth</p>
  </div>
</footer>