---
title: Behind Technology
---

<div class="container welcome">
  <h1>Behind Technology</h1>
  <div class="row">
    <ul class="col-md-6 col-md-offset-3 list">
      <li><a href="http://labs.spotify.com/" title="Spotify Labs" target="_blank">Spotify Labs</a></li>
      <li><a href="http://nerds.airbnb.com/" title="Airbnb Engineering Nerds" target="_blank">Airbnb Engineering Nerds</a></li>
      <li><a href="http://bandcamptech.wordpress.com" title="Bandcamp Tech" target="_blank">Bandcamp Tech Blog</a></li>
      <li><a href="http://overflow.bufferapp.com" title="Buffer Overflow" target="_blank">Buffer Overflow (Bufferapp)</a></li>
      <li><a href="https://tech.dropbox.com/" title="Dropbox Tech Blog" target="_blank">Dropbox Tech Blog</a></li>
      <li><a href="http://techblog.netflix.com/" title="Netflix Techblog" target="_blank">Netflix Techblog</a></li>
      <li><a href="https://algorithms.rdio.com/" title="Algorithms and Blues (Rdio)" target="_blank">Algorithms and Blues (Rdio)</a></li>
      <li><a href="https://www.kickstarter.com/backing-and-hacking" title="Backing and Hacking (Kickstarter)" target="_blank">Backing and Hacking (Kickstarter)</a></li>
      <li><a href="http://word.bitly.com" title="Bitly Tech Blog" target="_blank">Bitly Tech Blog</a></li>
      <li><a href="http://codeascraft.etsy.com/" title="Code as Craft (Etsy)" target="_blank">Code as Craft (Etsy)</a></li>
      <li><a href="http://code.flickr.net/" title="Code.Flickr" target="_blank">Code.Flickr</a></li>
      <li><a href="http://corner.squareup.com/" title="The Corner (Square)" target="_blank">The Corner (Square)</a></li>
      <li><a href="https://tech.coursera.org/" title="Coursera Technology" target="_blank">Coursera Technology</a></li>
      <li><a href="https://www.facebook.com/Engineering?sk=notes" title="Facebook Engineering" target="_blank">Facebook Engineering</a></li>
      <li><a href="http://making.fiftythree.com" title="Making FiftyThree" target="_blank">Making FiftyThree</a></li>
      <li><a href="http://engineering.foursquare.com/" title="Foursquare Engineering" target="_blank">Foursquare Engineering</a></li>
      <li><a href="https://github.com/blog/category/engineering" title="Github Engineering" target="_blank">Github Engineering</a></li>

      <li><a href="http://google-engtools.blogspot.it/" title="Google Engineering Tools" target="_blank">Google Engineering Tools</a></li>
      <li><a href="https://engineering.groupon.com" title="Groupon Engineering" target="_blank">Groupon Engineering</a></li>
      <li><a href="http://engineering.heroku.com" title="Heroku Engineering" target="_blank">Heroku Engineering</a></li>
      <li><a href="http://blog.hood.ie" title="Hood.ie Blog" target="_blank">Blog of Hood.ie</a></li>
      <li><a href="http://engineering.imvu.com/" title="IMVU Engineering Blog" target="_blank">IMVU Engineering Blog</a></li>
      <li><a href="http://instagram-engineering.tumblr.com/" title="Instagram Engineering" target="_blank">Instagram Engineering</a></li>
      <li><a href="http://blog.last.fm/" title="Last.fm HQ" target="_blank">Last.fm HQ</a></li>
      <li><a href="http://engineering.linkedin.com/blog" title="LinkedIn Engineering" target="_blank">LinkedIn Engineering</a></li>
      <li><a href="http://developers.livechatinc.com/blog/" title="LiveChat Developer" target="_blank">Live Chat Developer Blog </a></li>
      <li><a href="http://blog.apps.npr.org/" title="NPR Visuals" target="_blank">NPR Visuals</a></li>
      <li><a href="http://tech.oyster.com" title="Oyster Tech" target="_blank">Oyster.com Tech Blog</a></li>
      <li><a href="http://engineering.pinterest.com" title="Making Pinterest" target="_blank">Making Pinterest</a></li>
      <li><a href="http://dev.paperlesspost.com/" title="Paperless Post Dev Blog" target="_blank">Paperless Post Dev Blog</a></li>
      <li><a href="http://blog.getprismatic.com/" title="Prismatic Dev Blog" target="_blank">Prismatic Dev Blog</a></li>
      <li><a href="https://www.simple.com/engineering" title="Simple Bank Engineering" target="_blank">Simple Bank Engineering</a></li>
      <li><a href="http://engineering.slideshare.net/" title="Slideshare Engineering" target="_blank">Slideshare Engineering</a></li>
      <li><a href="https://developers.soundcloud.com/blog/" title="Backstage Blog (Soundcloud)" target="_blank">Backstage Blog (Soundcloud)</a></li>
      <li><a href="http://engineering.tumblr.com/" title="Tumblr Engineering" target="_blank">Tumblr Engineering</a></li>
      <li><a href="https://engineering.twitter.com/" title="Twitter Engineering" target="_blank">Twitter Engineering</a></li>
      <li><a href="http://viget.com/extend" title="Viget Extend Tech Blog" target="_blank">Viget Extend Tech Blog</a></li>
      <li><a href="http://engineering.wayfair.com/" title="Wayfair Engineering" target="_blank">Wayfair Engineering</a></li>
      <li><a href="http://eng.wealthfront.com/" title="Wealthfront Engineering" target="_blank">Wealthfront Engineering</a></li>
      <li><a href="http://eng.yammer.com/" title="Yammer Engineering" target="_blank">Yammer Engineering</a></li>
      <li><a href="http://engineeringblog.yelp.com/" title="Yelp Engineering Blog" target="_blank">Yelp Engineering Blog</a></li>      
    </ul>
  </div>
</div><!-- .welcome -->